.button {
  background-color: var(--primaryAccent);
  border: 1px solid var(--primaryAccent);
  padding: 0.6rem 1.1rem;
  font-size: 1.3rem;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  margin: 0.5rem 0;
}
